@model WebApplication2.Models.Employee

@{
    ViewBag.Title = "Config";
}

<h2>Configurations</h2>

<div>
    OutputDir:<br />
    SourceName: <br />
    LogName: <br />
    ThumbnailSize: <br />
    Handlers: <br />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
