
@{
    ViewBag.Title = "Question";
}

@{
    var toErase = ViewData["ToErase"];
}

<h2>Are You Sure You Want To Delete "@toErase"?</h2>


@Html.ActionLink("OK", "RemovePhoto", "First", new { photo = toErase }, null)
@Html.ActionLink("Cancel", "photos", "First")

