@model WebApplication2.Models.Employee

@{
    ViewBag.Title = "Example";
}

<h2>Example provided to us by dor</h2>

<p>Create, Details and AjaxView are part of the example, we need to change them to fit to our project </p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
