
@{
    ViewBag.Title = "Index";
}

<h1>Image Web</h1>

<h2>Status</h2>
<p>here we will have the status of the image service</p>

<h2>Number of photos</h2>
<p>here we will have the number of photos</p>

<h2>Student details</h2>
<p>here we will have the student details</p>

