@model Communication.LogEntry

@using (Html.BeginForm("HideTypes", "First"))
{
    <input type="text" name="typeToShow" value="" />
    <input type="submit" name="typeToShow" value="show only">
}



@{
    ViewBag.Title = "Logs";
}

@{
    var logs = ViewData["Logs"];
}

<h2>Logs</h2>

<div>
    <table>
        @{
            foreach (Communication.LogEntry l in (logs as Communication.LogEntry[]))
            {

                <tr>
                    <td>  @l.Type </td>
                    <td>     </td>
                    <td>  @l.Message </td>
                    <td>             </td>
                    <td>  @l.Time </td>
                </tr>

            }
        }
    </table>
</div>
