@model Communication.LogEntry

<style>
    .input {
        background-color: cadetblue;
        border: solid;
        border-color: black;
        color: white;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
    }
    .input:hover {
    background-color: darkcyan;
}
</style>

<h2>Logs</h2>

<h4>Filter logs by type</h4>

@using (Html.BeginForm("HideTypes", "First"))
{
    <input type="text" name="typeToShow" value="" />
    <input class="input" type="submit" name="typeToShow" value="Submit">
    <br /> <br />
}



@{
    ViewBag.Title = "Logs";
}

@{
    var logs = ViewData["Logs"];
}

<div>
    <table>
        @{
            foreach (Communication.LogEntry l in (logs as Communication.LogEntry[]))
            {

                <tr>
                    <td>  @l.Type </td>
                    <td>     </td>
                    <td>  @l.Message </td>
                    <td>             </td>
                    <td>  @l.Time </td>
                </tr>

            }
        }
    </table>
</div>

<br /><br />

<div>
    @Html.ActionLink("Back to Image Web", "Index")
</div>