@model Communication.LogEntry

@{
    ViewBag.Title = "Logs";
}

@{
    //TODO Sheyikra Tavla vehide vekhou'
    var logs = ViewData["Logs"];
}

<h2>Logs</h2>

<div>
    <table>
        @{
        foreach (Communication.LogEntry l in (logs as Communication.LogEntry[]))
        {

            <tr>
                <td>  @l.Type </td>
                <td>     </td>
                <td>  @l.Message </td>
                <td>             </td>
                <td>  @l.Time </td>
            </tr>

        }
        }
    </table>
    </div>
