@model WebApplication2.Models.SettingsModel

@{
    ViewBag.Title = "Photos";
}

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create three equal columns that sits next to each other */
    .column {
        flex: 33.33%;
        padding: 5px;
    }
    .button {
    border: solid;
    border-color:black;
    color: white;
    text-align: center;
    font-size:16px;
    cursor: pointer;
}
</style>

<h2>Photos</h2>

@{ 
    string[] arr = Directory.EnumerateFiles(Server.MapPath("~/pictures/Thumbnails")).ToArray();
    int arrLength = arr.Length;
    double temp = arrLength / 7.0;
    double numRows = Math.Ceiling(temp);
    int photoNum = 0;
}

@for (int k = 0; k < numRows; k++)
{
    <div class="row" style="width:200px"   >
        @for(; photoNum < 7 * (k + 1); photoNum++)
        {
            if (photoNum == arrLength)
            {
                break;
            }
            var item = arr[photoNum];

            <div class="column" style="text-align:center; width:200px;height:242px;border:2px solid #000; margin:2px">
                @{
                    string appPath = HttpContext.Current.Server.MapPath("~");
                    string res = string.Format("{0}", item.Replace(appPath, "").Replace("\\", "/"));
                    DateTime date = File.GetCreationTime("C:\\Users\\Ori\\Documents\\Visual Studio 2015\\Projects\\ConsoleApplication5\\WebApplication2\\WebApplication2\\pictures\\Thumbnails");
                    //DateTime date = File.GetCreationTime();
                    var x = date;
                    int year = x.Year;
                    int month = x.Month;
                    
                    string photoName = Path.GetFileNameWithoutExtension(res);
                    string photoDate = month + "/" + year;

                }
                <img src="~/@res" alt="thumb" style="width:150px; height: 150px; border-radius: 50%" />
                <br />
                @photoName
                <br />
                @photoDate
                <br />
                <button class="button" style="background-color:blue" type="button">View</button>
                <button class="button" style="background-color:red" type="button" >Delete</button>
            </div>
            <br />
         }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
