
@{
    ViewBag.Title = "Question";
}

@{ 
    var toErase = ViewData["ToErase"];
}

<h2>Are You Sure You Want To Remove "@toErase"?</h2>


@Html.ActionLink("OK", "RemoveHandler", "First", new { handler = toErase }, null)
@Html.ActionLink("Cancel", "Config", "First")

