
@{
    ViewBag.Title = "ViewPhoto";
}

<style>
    .button {
        border: solid;
        border-color: black;
        color: white;
        text-align: center;
        font-size: 35px;
        cursor: pointer;
    }
</style>

@{
    var name = ViewData["Name"];
    string[] arr = Directory.EnumerateFiles(Server.MapPath("~/pictures/photos"), "*", SearchOption.AllDirectories).ToArray();

    foreach (var item2 in arr)
    {
        if (Path.GetFileNameWithoutExtension(item2).Equals(name))
        {
            string appPath = HttpContext.Current.Server.MapPath("~");
            string res = string.Format("{0}", item2.Replace(appPath, "").Replace("\\", "/"));

            //extract date from thumbnail location
            string[] split = res.Split('/');
            string year = split[split.Length - 3];
            string month = split[split.Length - 2];
            string photoDate = month + "/" + year;

            <h2>@name</h2>
            <h4>@photoDate</h4>
            <br />
            <img src="~/@res" alt="photo"/>
            <br /><br />
            break;
        }
    }
}

<button onclick="location.href = '@Url.Action("Delete", "First" , new {name = name})';" class="button" style="background-color:red" type="button">Delete</button>

<br /><br />

@Html.ActionLink("Back to Photos", "Photos", "First")

